/* NOTA BONUS: PER EVITARE CHE UN CLIENTE VOGLLIA IMPROVVISAMENTE CAMBIARE I COLORI PRINCIPALI DEL SITO POSSIAMO UTILIZZARE DELLE VARIABILI CON :root {--nome: colore;} */

/* NOTA BONUS: PER DARE UN FONT UGUALE A TUTTI I CARATTERI SI PUO' UTILIZZARE IL SELETTORE UNIVERSALE * ASTERISCO */

/* impostazioni generali */

body{
    width: 80%;
    margin: auto;
}
/* /impostazioni generali */

/* navbar con logo e background */
.logo-sito{
    width: 200px;
}

#container{
    padding-top: 100px;
    padding-left: 10px;
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    height: 70px;
}
/* /navbar con logo e background */

/* header con titolo, sottotitoli ed immagini */
.grigio{
    color: gray;
}
.colore-header-tabella{
    color: #20A9E5;
}
.no-margin-top{
    margin-top: 0px;
}
.no-margin-bottom{
    margin-bottom: 0px;
}
/* /header con titolo, sottotitoli ed immagini */

/* il corpo del nostro sito */
.bg-giallo{
    background-color: yellow;
}
.padding-list{
    padding: 16px;
    padding-top: 0px;
}

/* /il corpo del nostro sito */